<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <form>
            <center>
                <h1>login</h1>
                <table border="3">
                <tr>
                    <td>name</td>
                    <td><input type="text" name="name"></td>
                    
                </tr>
                <tr>
                    <td>address</td>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>age</td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                
                </tr>
            </table>
            </center>
        </form>
  
    
</body>
</html>