<!DOCTYPE html>
<html lang="en">
<head>
    <title>view vazhipad</title>
</head>
<body>
    <center>
        <h1>VAZHIPAD DETAILS</h1>
        <table border="2">
            <tr>
                <td>vazhi_id</td>
                <td>name</td>
                <td>price</td>
            </tr>
            {% for j in data %}
            <tr>
                <td>{{j.vazhi_id}}</td>
                <td>{{j.name}}</td>
                <td>{{j.price}}</td>
                <td><a href="{%url 'update' pk=j.vazhi_id %}">update</td>
                <td><a href="{%url 'delete' pk=j.vazhi_id %}">delete</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>