<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>view status</h1>
        <table border="2">
            <tr>
                <td>reg_id</td>
                <td>Name</td>
                <td>Address</td>
                <td>Email</td>
            </tr>
            {% for j in data %}
            <tr>
                <td>{{j.reg_id}}</td>
                <td>{{j.name}}</td>
                <td>{{j.address}}</td>
                <td>{{j.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>