<html>
    <head>
        <title>booked by patients</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <center>
                <table border="3">
                    <tr>
                        <td>name</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>address</td>
                        <td><input type="text" name="address"></td>
                    </tr>
                    <tr>
                        <td>date</td>
                        <td><input type="date" name="date"></td>
                    </tr>
                    <tr>
                        <td>department</td>
                        <td><input type="text" name="department"></td>
                    </tr>
                    <tr>
                        <td>disease</td>
                        <td><input type="text" name="disease"></td>
                    </tr>
                    <tr>
                        <td><input type="submit"></td>
                    </tr>
                </table>
            </center>
        </form>
    </body>
</html>