<html>
    <head>
        <title>registration doctor</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <center>
                <table border="3">
                    <tr>
                        <td>name</td>
                        <td><input type="text" name="name" value="{{data.name}}"></td>
                    </tr>
                    <tr>
                        <td>age</td>
                        <td><input type="number" name="age" value="{{data.age}}"></td>
                    </tr>
                    <tr>
                        <td>place</td>
                        <td><input type="text" name="place" value="{{data.place}}"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td><input type="email" name="email" value="{{data.email}}"></td>
                    </tr>
                    <tr>
                        <td>contact</td>
                        <td><input type="number" name="contact" value="{{data.contact}}"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="update"></td>
                    </tr>
                </table>
            </center>
        </form>
</html>